<div class="container my-4">
    <div class="row g-4">
        @for (product of products; track $index) {
      <div class="col-md-4">
        <div class="card h-100 text-center shadow-sm">
          <img [src]="product.productImage" class="card-img-top" [alt]="product.productName">
          <div class="card-body">
            <h5 class="card-title">{{ product.productName }}</h5>
            <p class="card-text">${{ product.productPrice }}</p>
            @if (product.onSale) {
                <span class="badge bg-success">On Sale</span>
            }
          </div>
        </div>
      </div>
    }
    </div>
  </div>
  